.tabbar {
  &__header {
    font-style: italic;
    padding: 12px 8px;
    color: var(--color-white);
    background-color: var(--color-primary);
  }

  :global {
    .ant-tabs-ink-bar {
      width: 4px;
    }
    .ant-tabs-nav {
      flex: 1;
    }
    .ant-tabs-content-holder {
      flex: none;
      width: 0;
    }
  }
}